<div id="top"></div>
<div>
	<span class="page_title">
		記事のリスト
	</span>
	
	&nbsp;&nbsp;(<%= link_to 'New Article', new_article_path %>)
	
		&nbsp;<%= link_to 'To bottom', "#bottom" %>
		
</div>

<hr />
	<dl class="accordion">
		<dt>
			<span style="color: green">Admin data</span>
		</dt>
	
		<dd>
			@genre_id => <%= @genre_id %>
			<br />
			
			@genre_id.class => <%= @genre_id.class %>
			<br />
			
			@params => <%= @params %>
			<br />
			
			@params[:genre] => <%= @params[:genre] %>
			<br />
			
			<% if @params[:genre] %>
				@params[:genre][:id] => <%= @params[:genre][:id] %>
				<br />
				
				@params[:genre][:id].class => <%= @params[:genre][:id].class %>
				<br />
			<% else %>
				@params[:genre][:id] => nil
				<br />
				
				@params[:genre][:id].class => nil
				<br />
			<% end %>
			
			@id_all => <%= @id_all %>
			<br />
			
			@id_all.name => <%= @id_all.name %>
			<br />
			
			@id_all.id => <%= @id_all.id %>
			<br />
			
			@sort_type => <%= @sort_type %>
			<br />

		</dd>
	</dl>
<hr />

<table>
  <tr>
  	<th>
  		<%= link_to "Id", :controller => 'articles', :action => 'index', :sort_type => 'id' %>
  		
  	</th>
    <th>
    	<%= link_to "Title", :controller => 'articles', :action => 'index', :sort_type => 'title' %>
    	
	</th>
    <th>Text</th>
    <th>Memos</th>
    <th>Url</th>
    <th>
		<!--  REF => NewsReader2\app\views\categories\_form.html.erb -->
		<%#= form_tag('articles?sort_type=genre', :method => :get) do %>
		<%#= form_tag('', :method => :get, :sort_type => 'genre') do %>
			<%#= submit_tag "Genre" %>
			<%#= submit_tag "Genre", :sort_type => 'genre' %>
		<%# end %>
		<%#= link_to "Genre", articles_path, :sort_type => 'genre' %>
		<%#= link_to "Genre", :controller => 'articles', :action => 'index', :sort_type => 'genre' %>
		<%= link_to "Genre", :controller => 'articles', :action => 'index', :sort_type => 'genre_id' %>
		
		<%= form_tag('', :method => :get) do %>
			<%= select("genre", "id", Genre.all.collect {|g| [g.name, g.id]}, {:name => "genre_id"})%>
			
			<%#= select("genre", "id", Genre.all.collect {|g| [g.id, g.name]})%>
			<%= submit_tag "Go" %>
		    
		<% end %>
	</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
  	<td><%= article.id %></td>
    <td><%= link_to article.title, article %></td>
<!--     <td><%#= article.text %></td> -->
    <td><%= truncate(article.text, length: 40) %></td>
    <td><%= article.memo.size %></td>
    
    <td><%= link_to "Go", article.url %></td>
    
    <% if article.genre != nil %>
    	<td><%= article.genre.name %> (<%= article.genre.id %>)</td>
    <% else %>
		<td>No entry</td>
	<% end %>
	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
&nbsp;| <%= link_to 'To top', "#top" %>


<div id="bottom"></div>
<%#= article.url %>