<h1>Listing articles</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Title</th>
    <th>Text</th>
    <th>Memos</th>
    <th>Url</th>
    <th>Genre</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
  	<td><%= article.id %></td>
    <td><%= link_to article.title, article %></td>
    <td><%= article.text %></td>
    
    <td><%= article.memo.size %></td>
    
    <td><%= link_to "Go", article.url %></td>
    <% if article.genre != nil %>
    	<td><%= article.genre.id %></td>
    <% else %>
		<td>No entry</td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>

<%#= article.url %>