<p id="notice"><%= notice %></p>

<p>
  <b>Activity:</b>
  <%= @log.activity %>
</p>

<p>
  <b>Memos:</b>
  <%= @log.memos %>
</p>

<p>
  <b>Created at:</b>
  <%= @log.created_at %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>&nbsp;&nbsp;|&nbsp;
<%= link_to 'Destroy', @log, 
			confirm: 'Are you sure?', method: :delete,
			style: "color: red;" %>
