<h1>Listing memos</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Text</th>
    <th>Url</th>
    <th>Article</th>
  </tr>

<% @memos.each do |memo| %>
  <tr>
  	<td><%= memo.id %></td>
    <td><%= link_to memo.text, memo %></td>
    <td><%= link_to "Go", memo.url %></td>
    <td><%= memo.article_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Memo', new_memo_path %>
