<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @memo.text %>
</p>

<p>
  <b>Url:</b>
  <%= @memo.url %>
</p>

<p>
  <b>Article:</b>
  <%= @memo.article_id %>
</p>


<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
